      var phoneNumberCollection = new Array();

function showContacts() {
var options = new ContactFindOptions();
  options.filter = "";
  options.multiple = true;
  options.desiredFields = [navigator.contacts.fieldType.id,navigator.contacts.fieldType.displayName,  navigator.contacts.fieldType.name, navigator.contacts.fieldType.phoneNumbers];
options.hasPhoneNumber = true;
   var fields = [navigator.contacts.fieldType.displayName, navigator.contacts.fieldType.name];
   navigator.contacts.find(fields, onSuccess, onError, options);
}

 function onSuccess(contacts) 
  {
     // here i have all contacts and i am pushing each number into       "phoneNumberCollection" array//
  }

 function onError(err)
 { 
 }

  self.GetContactsData = function () {
    self.PhoneNumberCollection = phoneNumberCollection;
    jQuery.support.cors = true;
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({mobilecollection:  self.PhoneNumberCollection,}),
        url: Url + 'api/xxxxxx/xxxxxxxx',
        success: function (data) {
            self.items($.map(data, function (item) {
                return new ContactsModel(item);
            }));
        },
        error: function (err, type, httpStatus) {
         }
    })

}

     //Web API
  [HttpPost]
    public  IHttpActionResult GetContacts(JObject jsonData)
    {
        try
        {
            if (jsonData != null)
            {
                dynamic json = jsonData;

                string[] mobilenumberCollection = json.mobilecollection.ToObject<string[]>();
                var getContacts = CBFriends.getAllcontacts(mobilenumberCollection);
                if (getAllContacts != null)
                {
                    return Ok(getAllContacts);
                }
                else { return NotFound(); }

            }
            else {
                return BadRequest();}
           }
        catch (Exception)
        { throw ex }      
       }
       
       //Method for Checking the Contacts
         public List<FriendsContactList> getAllcontacts(string[] mobilenumberCollection)
        {
            try
            {
                List<ContactList> AllContacts = new List<FriendsContactList>();

List<string> mobileNumbers = new List<string>();
                            foreach (var item in mobilenumberCollection)
                            { 
                               var mobile = Convert.ToString(item);
                                if (string.IsNullOrEmpty(mobile))
                                    continue;
                                mobile = mobile.Replace(" ", "");
                                mobile = mobile.Replace("-", "");
                                mobile = mobile.Replace("(", "");
                                mobile = mobile.Replace(")", "");
                                mobile.Trim();
                                int len = mobile.Length;
                                string mob = mobile.Substring(0, 1);
                                if (mob!="0")
                                {
                                    if (mob!="+")
                                    {
                                        if (len <= 10)
                                        {
                                            mobile = countrycode + mobile;

                                        }
                                        else if (len > 10)
                                        {
                                            mobile = "+" + mobile;
                                            mobile.Trim();
                                        }
                                    }
                                    
                                    mobileNumbers.Add(mobile);
                                }
                                
                               
                                    var mobilenumber = mobile;
                                    var usersThatExsitInDB = dbContext.UserTable.Where(m => mobileNumbers.Contains(m.mobileNumber));
                                    
                                    var numbersThatNotExistsInDB = mobileNumbers.Where(!usersThatExsitInDB.Any(a => a.mobileNumber == a)).ToList();
                                    
                                    numbersThatNotExistsInDB.ForEach(mm => {
                                           if (mm != " ")
                                          {
                                                ALLContactList NoContacts = new ALLContactList();
                                                NoContacts.mobileNumber = mm;
                                                AllContacts.Add(NoContacts);
                                          }
                                    
                                    });
                                    
                                    usersThatExsitInDB.ForEach(MobileNumberExsitDB => {
                                           ALLContactList contactList = new ALLContactList();
                                           contactList.userId = MobileNumberExsitDB.userId;
                                           contactList.userName = MobileNumberExsitDB.userName;
                                           contactList.userProfileImageBase64 = MobileNumberExsitDB.userImage;
                                           contactList.userProfileImagetype = MobileNumberExsitDB.userImagetype;
                                           AllContacts.Add(contactList);
                                    });
                                   
                                    }
                                   
                                }
                
                   
                }
                return Contacts;
            }
            catch (Exception)
            {

                throw new Exception("Server Busy! Please try after some time. 309");
            }

       
        }
